.alert {
    width: 600px;
    border: 1px solid red;
    margin: 0 auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
}
.alert p {
    margin: 0;
}